.Home-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.Home-profile-info {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    margin-top: 10px;
    width: 100%;
}

.Home-profile-info > * {
    align-self: baseline;
}

.Home-profile-info-fullname {
    font-size: large;
    font-weight: 800;
    margin-right: 10px;
    color: white;
}

.Home-people-content {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    flex-direction: column;
}