.PeopleItem-container {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 10px;
    margin: 10px;
}

.PeopleItem-container > img {
    height: 40px;
    width: 40px;
    align-self: center;
}

.PeopleItem-name {
    font-weight: 600;
    width: 100px;
    align-self: center;
}

.PeopleItem-hug-count {
    align-self: center;
    margin-right: 10px;
}

.PeopleItem-hug-count-icon {
}

.PeopleItem-slap-count {
    align-self: center;
    margin-right: 10px;
}

.PeopleItem-slap-count-icon {
    margin-right: 15px;
}
